{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "debug": false,
        "corejs": 3,
        "shippedProposals": true,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ]
}