{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "promise",
    "prettier"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "indent": [
      0,
      4
    ],
    "space-before-function-paren": 0
  }
}