- for (var i = 0; i < 10; i++)
    div(class="post-card" data-js="post-skeleton")
        div(class="post-card__column")
            div(class="post-card__header")
                div(class="post-card__avatar skeleton")
                div(class="post-card__userinfo")
                    div(class="post-card__username skeleton")
                    div(class="post-card__email skeleton")
            div(class="post-card__body")
                div(class="post-card__thumb skeleton")