- for (var i = 0; i < 10; i++)
    div(class="user-card" data-target="skeleton")
        div(class="user-card__column")
            div(class="user-card__header")
            div(class="user-card__body")
                div(class="user-card__avatar skeleton")
            div(class="user-card__footer skeleton")
                div(class="user-card__title skeleton")