- for (var i = 0; i < 10; i++)
    div(class="card-user")
        div(class="card-user__column")
            div(class="card-user__header")
            div(class="card-user__body")
                div(class="card-user__avatar skeleton" alt="avatar skeleton")
            div(class="card-user__footer skeleton")
                div(class="card-user__title skeleton")