extends ../templates/layout 

block head
    title demo

block content 
    h2(class="app__title") Users
    div(class="card-user-wrapper" data-js="users")
    div(class="app__more" data-js="more-user")
    //- h2(class="app__title") Posts
    //- div(class="card-post-wrapper" data-js="posts")
    //- div(class="app__more" data-js="more-post")