extends ../templates/layout 

block head
    title DemoMainPage

block content 
    h2 What you've done
    div(data-js="list" aria-live="polite" aria-label="A list of items you have done")
    form(data-js="form")
        div
            label(for="new-item") Add a new item
            input(type="text" id="new-item" autocomplete="off")
            button Save