extends ../templates/layout 

block head
    title demo

block content 
    h2(class="app__title") Users 
        span(data-js="total-user")
    div(class="user-card-wrapper" data-js="user")
    div(class="app__more" data-js="more-user")
    h2(class="app__title") Posts
        span(data-js="total-post")
    div(class="post-card-wrapper" data-js="post")
    div(class="app__more" data-js="more-post")
