extends ../templates/layout 

block head
    title demo

block content 
    main(class="app__column main")
        h2(class="main__title") Users 
            span(data-target="total-user")
        div(class="user-card-wrapper" data-target="user")
        div(class="main__more" data-target="more-user")
        h2(class="main__title") Posts
            span(data-target="total-post")
        div(class="post-card-wrapper" data-target="post")
        div(class="main__more" data-target="more-post")
