.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    &__column {
        display: flex;
        flex-grow: 1;
        z-index: 0;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1rem;
        overflow: scroll;
        flex-direction: column;
    }

    &__body {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}
